/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full viewport height and no overflow */
html, body {
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
  overflow-y: hidden; /* Prevents vertical scrolling */
}

canvas {
  display: block;
}
